h1{
    color: red;
}

body{
    background-color: rgb(17, 15, 15);

}

html{
    width: auto;
    height: auto;
}

.box{
    background-color: bisque;
    border-radius: 10px;
    width: auto;
height: auto;
background: #fff;
text-align: center;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: auto;
    height: auto;
  }
  
  .grid-item {
    background-color: red;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
  }